{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>Instructions</h1>
  <p>
    If this is your first time visiting this website, you must first create an
    account. <a href="/signup">Click here</a> to navigate to the signup
    page. You must fill in all of the input boxes and check the checkbox to
    create an account. If you have already created an account, 
    <a href="/login">click here</a> to login to your account. You must use the
    same username and password you used to create your account.
  </p>
  <p>
    When you successfully signup/login, you will be navigated to the home page
    of the website. On the left-hand side of the page, you will see a
    searchbox. You can use this to search for any species by its full species
    name. We use the IUCN Red List API to retrieve our data. Neither we nor
    IUCN is responsible for the accuracy of the data displayed on this website.
    Please use this website at your own discretion, and fact check the data
    that you find.
  </p>
  <p>
    When you search for a species, if the species exists and information on its
    threatened level exists in the IUCN Red List API, it will be displayed on
    the webpage, along with its threatened level. If you are interested in
    forming an organization or event to help this species, you may add it to
    your list of favorite species. This list will always be displayed on the
    right-hand side of the home page when you are logged in. You may also
    choose to remove any species on your list.
  </p>
  <p>
    When you add a species to your list, if you are the tenth user in your city
    to add that species to your list, you will be notified of the usernames and
    email addresses of the other users. That way, you may get into contact with
    them via email to organize an event and help the species you all have a
    shared interest in.
  </p>
  <p>
    We are not responsible for any consequences of any other users being made
    aware of your username, email, or approximate location. Use this website at
    your own risk.
  </p>
{% endblock %}