{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>
    Welcome to Threatened Species!
  </h1>
  <div class="row my-3">
    <div class="col-12">
      <h2>Threatened Level Reference</h2>
      <table class="table table-striped table-bordered table-sm">
        <tbody>
          <tr>
            <td>Abbreviation</td>
            <td>DD</td>
            <td>LC</td>
            <td>NT</td>
            <td>VU</td>
            <td>EN</td>
            <td>CR</td>
          </tr>
          <tr>
            <td><small>Full name</small></td>
            <td><small>Data Deficient</small></td>
            <td><small>Least Concern</small></td>
            <td><small>Near Threatened</small></td>
            <td><small>Vulnerable</small></td>
            <td><small>Endangered</small></td>
            <td><small>Critically Endangered</small></td>
          </tr>
          <tr>
            <td>Abbreviation</td>
            <td>EW</td>
            <td>EX</td>
            <td>LR/lc</td>
            <td>LR/nt</td>
            <td>LR/cd</td>
          </tr>
          <tr>
            <td><small>Full name</small></td>
            <td><small>Extinct in the Wild</small></td>
            <td><small>Extinct</small></td>
            <td><small>Lower Risk/Conservation Dependent</small></td>
            <td><small>Lower Risk/Near Threatened</small></td>
            <td><small>Lower Risk/Least Concern</small></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form action="/species" method="GET">
        <label>Search for species</label>
        <input name="species" type="text">
        <button class="btn btn-primary btn-sm">Search</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 col-sm-5 mt-5">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Species Name</th>
            <th>Threatened Level</th>
            <th>Add Species to List</th>
          </tr>
        </thead>
        <tbody>
          {% if species %}
            <tr>
              <td>{{species.name}}</td>
              {% if species.threatened %}
                <td>{{species.threatened}}</td>
              {% else %}
                <td> </td>
              {% endif %}
              <td>
                <form action="/species/{{species.id}}" method="POST">
                  <button class="btn btn-success">Add</button>
                </form>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-5 mt-5">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Species Name</th>
            <th>Threatened Level</th>
            <th>Remove Species from List</th>
          </tr>
        </thead>
        <tbody>
          {% if user.species %}
            {% for species in user.species %}
              <tr>
                <td>{{species.name}}</td>
                {% if species.threatened %}
                  <td>{{species.threatened}}</td>
                {% else %}
                  <td> </td>
                {% endif %}
                <td>
                  <form action="/species/{{species.id}}/delete" method="POST">
                    <button class="btn btn-success">Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}