{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>
    Welcome to Threatened Species!
  </h1>
  <div class="row">
    <div class="col-12">
      <h2>Threatened Level Reference</h2>
      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th>Abbreviation</th>
            <th>DD</th>
            <th>LC</th>
            <th>NT</th>
            <th>VU</th>
            <th>EN</th>
            <th>CR</th>
            <th>EW</th>
            <th>EX</th>
            <th>LR/lc</th>
            <th>LR/nt</th>
            <th>LR/cd</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Full name</td>
            <td>Data Deficient</td>
            <td>Least Concern</td>
            <td>Near Threatened</td>
            <td>Vulnerable</td>
            <td>Endangered</td>
            <td>Critically Endangered</td>
            <td>Extinct in the Wild</td>
            <td>Extinct</td>
            <td>Lower Risk/Conservation Dependent</td>
            <td>Lower Risk/Near Threatened</td>
            <td>Lower Risk/Least Concern</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form action="/species" method="GET">
        <label>Search for species</label>
        <input name="species" type="text">
        <button class="btn btn-primary btn-sm">Search</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 col-sm-5 mt-5">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Species Name</th>
            <th>Threatened Level</th>
            <th>Add Species to List</th>
          </tr>
        </thead>
        <tbody>
          {% if species %}
            <tr>
              <td>{{species.name}}</td>
              {% if species.threatened %}
                <td>{{species.threatened}}</td>
              {% else %}
                <td> </td>
              {% endif %}
              <td>
                <form action="/species/{{species.id}}" method="POST">
                  <button class="btn btn-success">Add</button>
                </form>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-5 mt-5">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Species Name</th>
            <th>Threatened Level</th>
            <th>Remove Species from List</th>
          </tr>
        </thead>
        <tbody>
          {% if user.species %}
            {% for species in user.species %}
              <tr>
                <td>{{species.name}}</td>
                {% if species.threatened %}
                  <td>{{species.threatened}}</td>
                {% else %}
                  <td> </td>
                {% endif %}
                <td>
                  <form action="/species/{{species.id}}/delete" method="POST">
                    <button class="btn btn-success">Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}